body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 700;
  padding: 5px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 0%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 400;
}

.heading {
  position: absolute;
  z-index: 2;
  margin: 20px;
  cursor: pointer;
}

#map {
  position: absolute;
  Height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.circle-marker {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
}
  
.class-a {
  background-color: black;
  border: 1.5px solid white;
}
  
.class-bcd {
  background-color: white;
  border: 1.5px solid rgb(135, 135, 135);
}

.start-circle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid rgb(150, 255, 0);
  top: -11px;
}

.end-circle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid magenta;
  top: 11px;
}

.hidden-circle {
  display: none;
}

.owner-link {
  color: black;
  cursor: pointer; 
}

.owner-link:hover {
  color: white;
  background-color: blue;
  cursor: pointer;
}

.owner-link:active {
  color: white;
  background-color: blue;
}

.owner-link.clicked {
  color: white;
  background-color: blue;
}

#closePanorama {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
}

.mapboxgl-popup {
  display: contents;
}

.mapboxgl-popup-content {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  max-width: 300px;
  left: 20px;
  top: 20%;
  padding: 10px;
  border-radius: 0px;
}

.mapboxgl-ctrl {
  visibility:hidden;
}

.start-text {
  color: rgb(150, 255, 0); 
  font-size: 8px;
  position: absolute;
  transform: translate(-50%, 35%);
}

.end-text {
  color: magenta; 
  font-size: 8px;
  position: absolute;
  transform: translate(-50%, -135%);
}

.loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
}

#legend {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 50%;
  bottom: 10px;
  left: 10px;
  margin: 10px;
  z-index: 2;
  cursor: pointer;
}

#first {
  font-size: 14px;
  color: rgb(150, 255, 0);
}

#last {
  font-size: 14px;
  color: magenta;
}

#yearBar {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  bottom: 10px;
  right: 10px;
  margin: 10px;
  z-index: 2;
  cursor: pointer;
}

/* Chrome */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 150px;
  height: 5px;
  background: rgb(196, 196, 196);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  border:1.5px solid white;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background: rgb(135, 135, 135);
  margin-top: -4px; 
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: darkgray;
}

/* Firefox */
input[type=range]::-moz-range-track {
  width: 150px;
  height: 5px;
  background: rgb(196, 196, 196);
  border: none;
}
input[type=range]::-moz-range-thumb {
  border:1.5px solid white;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background: rgb(135, 135, 135);
  margin-top: -4px;
}
input[type=range]:focus::-moz-range-track {
  background: darkgray;
}

@media only screen and (max-width: 1024px) {
  .mapboxgl-popup-content {
    max-width: 200px;
    top: 10%;
  }

}