h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 700;
  padding: 5px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 400;
}

.heading {
  position: absolute;
  z-index: 2;
  margin: 20px;
  cursor: pointer;
}

#map {
  position: absolute;
  Height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.circle-marker {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}
  
.class-a {
  background-color: black;
}
  
.class-bcd {
  background-color: rgb(135, 135, 135);
}

.start-circle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid rgb(150, 255, 0);
  top: -11px;
}

.end-circle {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid magenta;
  top: 11px;
}

.owner-link {
  color: black;
  cursor: pointer; 
}

.owner-link:hover {
  color: white;
  background-color: blue;
  cursor: pointer;
}

.owner-link:active {
  color: white;
  background-color: blue;
}

.owner-link.clicked {
  color: white;
  background-color: blue;
}

#closePanorama {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
}

.mapboxgl-popup {
  display: contents;
}

.mapboxgl-popup-content {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  max-width: 300px;
  left: 20px;
  top: 20%;
  padding: 10px;
  border-radius: 0px;
}

.mapboxgl-ctrl {
  visibility:hidden;
}

.start-text {
  color: rgb(150, 255, 0); 
  font-size: 8px;
  position: absolute;
  transform: translate(-50%, 35%);
}

.end-text {
  color: magenta; 
  font-size: 8px;
  position: absolute;
  transform: translate(-50%, -135%);
}